$card-grey: #f3f3f7;
$orange: #ff6900;
$orange-hover: #d15700;
$yellow: #ffd200;
$border: #cbd5e1;
$red: #ff3b30;

$bg-city-selector: rgba(0,0,0,0.5);

$btn-default: #F3F4F6;
$btn-default-hover: #E5E7EB;
$btn-default-text: #6B7280;
$btn-default-text-hover: #374151;

$btn-primary: #ff6900;
$btn-primary-hover: #e86100;
$btn-primary-text: #fff;